th.amortization {background-color: rgb(133, 194, 248);}
table.amortization, tr.amortization { border:none; border-spacing: 0; }
tr:nth-child(even).amortization {background: #a4e0f5}

table.info {
  width: 100%;
  max-width: 400px;
  text-align: left;
}

td.titles { font-weight: bold;}

img.lumpsum { vertical-align: middle; display: none; }

td.payment:hover img.lumpsum { display: inline-block;}

.App-link {
  color: #61dafb;
}